*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
html{
    font-family: Arial, Helvetica, sans-serif;

    font-weight: bold;
  padding-left: 10rem;
  padding-right: 10rem;
justify-content: center;
align-items: center;
   letter-spacing: 0.2rem;
}

body{
    background: #ebebee;

}

.icons{
    font-size: 35px;
    
    list-style: none;
    align-self: center;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    letter-spacing: 2rem;
    
}
.icons li a{
color:#405DE6;

}
.icons li:hover{
    opacity: 0.6;
}


form{

    display: flex;
    flex-direction: column;
    
   
    
    
}
#productform{
    display: flex;
    flex-direction: column; 
    
    
    
}
input{
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    
}
#productimage{
    box-shadow: 2px 3px 3px 3px rgb(0,0,0.5);
    opacity: 1;
}
button{
    background: green;
    padding: 10px;
 
     border-radius: 12px;
    color: white;
    font-weight: bold;
   
    box-shadow: 0 5px 5px rgb(0,0,0.5);
    cursor: pointer;
    margin-top: 20px;
}

button:focus{
    background: #336ea6;
}

#productlist{
  background:rgb(211, 206, 206);
 margin-top:  10px;

}


.productlistheader{
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-top: 15px;
    
}
.productlists ul{
    margin-top: 15px;
    box-shadow: 2px 5px 5px rgb(0,0,0.5);
}
.productlists ul li{
    align-items: center;
    justify-content: center;
}
nav ul {
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    box-shadow: 0 5px 5px rgb(0,0,0.5);
    padding: 10px;
    justify-content: space-between;
}
nav ul li{
    display: flex;
font-size: 18px;

}
nav .productlists{
    margin-top: 10px;
}
#icons{
    font-size: 20px;
    cursor: pointer;
    transition: 1sn;
    display: flex;
    align-items: center;
    
}
#icons:hover{
    color: red;
    transform: scale(1.3);
    
}

.confirmation{
background: green;
padding: 10px;
color: #fff;
font-weight: bold;
font-size: 19px;
margin-bottom: 15px;
}

.error{
 background: red;
padding: 10px;
color: #fff;
font-weight: bold;
font-size: 19px;
margin-bottom: 15px;
}

#output{
    width: 120px;
    height: 120px;
    object-fit: fill;
    cursor: pointer;
    transition: 1s;
    border-radius: 6px;
}
#output:hover{
    width: 120px;
    height: 120px;
    cursor: pointer;
    filter: grayscale(100%);
    transform: scale(1.2);
}
::-webkit-scrollbar{
    display: none;
}
